
<div class="container pos">
    <div class="row">
        <div class="col-lg-12">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-xs-12 backl">

			      <form class="form-signin" role="form">
			        <h2 class="form-signin-heading">Iniciar sesión</h2>
			        <input type="email" class="form-control" placeholder="Email address" required autofocus>
			        <input type="password" class="form-control" placeholder="Password" required>
			        <label class="checkbox">
			          <input type="checkbox" value="remember-me"> Recuerdame
			        </label>
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
			      </form>

				</div>
				<div class="col-lg-6 col-md-0 col-xs-0">
					<div class="row center">
						<br><br><br><br>
						<img src="../../assets/logo1.jpg" alt="" class="img-rounded " height="60px">
						<i><p>Sistema de gestión de radio taxis</p></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br>

</div>



