<h1>Editar Propietario</h1>

<%= render 'form2' %>

<%= button_to 'Ver', @owner, :method => 'get', :class => 'btn btn-info' %> |
<%= button_to 'Volver', owners_path, :method => 'get', :class => 'btn btn-default' %>
