<h1>Editar Historial Estados</h1>

<%= render 'form' %>

<%= button_to 'Ver', @state_history , :method => 'get', :class => 'btn btn-info'%> |
<%= button_to 'Volver', state_histories_path , :method => 'get', :class => 'btn btn-default'%>
