<% if user_signed_in? and current_user.tipo == 'administrador' %>

	<h1>Editar Comuna</h1>

	<%= render 'form' %>

	<%= button_to 'Ver', @comunne, :method => 'get', :class => 'btn btn-info' %> |
	<%= button_to 'Volver', comunnes_path, :method => 'get', :class => 'btn btn-default' %>

<% end %>