<h1>Editar Alerta Licencia Conducir</h1>

<%= render 'form' %>

<%= button_to 'Ver', @drivers_license_alert , :method => 'get', :class => 'btn btn-info'%> |
<%= button_to 'Volver', drivers_license_alerts_path, :method => 'get', :class => 'btn btn-default' %>
