<h1>Editing assigned</h1>

<%= render 'form' %>

<%= button_to 'Ver', @assigned, :method => 'get', :class => 'btn btn-info'%> |
<%= button_to 'Volver', assigneds_path, :method => 'get', :class => 'btn btn-default' %>
