<h1>Editar Estado</h1>

<%= render 'form' %>

<%= button_to 'Ver', @state , :method => 'get', :class => 'btn btn-info'%> |
<%= button_to 'Volver', states_path , :method => 'get', :class => 'btn btn-default'%>
