<h1>Gestión de Propietarios</h1>

<div class="container">
        <div class="row">
            <div class="col-lg-12 ">
				<ul class="nav nav-pills nav-stacked largo">
				  <li> <%=link_to "Gestión Conductores", :controller => :gestion_usuarios, :action => :gestion_conductores %> </li>
				  <li> <%=link_to "Gestión Empresas", :controller => :gestion_usuarios, :action => :gestion_empresas %> </li>
				  <li> <%=link_to "Gestión Operadores", :controller => :gestion_usuarios, :action => :gestion_operadores %> </li>
				  <li class="active"> <%=link_to "Gestión Propietarios", :controller => :gestion_usuarios, :action => :gestion_propietarios %> </li>

								
			</ul>
    

        </div>

    </div>      

</div>