<h1>Editar cliente</h1>

<%= render 'form' %>

<%= button_to 'Ver', @client, :method => 'get', :class => 'btn btn-info' %> |
<%= button_to 'Volver', clients_path, :method => 'get', :class => 'btn btn-default' %>
