<div class="container marg2">
<br>
<h1>¿Qué es ActiveCab?</h1>
<hr class="centrado">
<br><br>
        <div class="row">
            <div class="col-lg-12 ">
				<div class="row">
					<div class="col-lg-6 col-md-4 col-xs-0">

						<div class="borde"><i><h2>Mision</h2></i><br>						
						<p>Esta empresa se dedica al traslado de pasajeros de manera segura, cuenta con un <b>personal capacitado</b> para atender a los clientes a cualquier hora del día.</p>
						</div>
						<br><br>

						<div class="borde">
						<i><h2>Visión</h2></i><br>
						<p>Ser una empresa de transporte lider en cuanto a <b>calidad</b> de servicio y <b>seguridad</b>.Con un alto grado de <b>compromiso</b> por parte de cada trabajador.</p>
						<p> Radio Taxis Marcelino es una empresa comprometida a brindar el mejor servicio para el usuario, entregando un grato y sencillo medio para solicitar radio taxis</p>
						</div><br>
					</div>
					<div class="col-lg-6 col-md-8 col-xs-12">
						<div class="borde">
							<i><h2>Radio Taxis Marcelino 3</h2></i><br>
							<p>Con 25 años de experiencia en el transporte de pasajeros nos ha hecho una Empresa conocedora de los más altos requerimientos de los usuarios de este medio.
							Contamos con una moderna flota de automóviles full equipo y transporte masivo de pasajeros (Van, Minibuses y Buses). Conductores profesionales, seleccionados rigurosamente por nuestro departamento de personal, dando plena seguridad al desplazamiento de nuestros clientes.</p>
							<div class="center"><i class="fa fa-taxi fa-5x"></i><br><b><i>ActiveCab</i></b></div>
						</div>
					</div>

				</div>	
	
    

            </div>

        </div>      

    </section>



   <!-- <section>
        <div class="row">
	        <div class="col-lg-4">
	            <div class="row">
	                <div class="col-lg-6 color1">
	                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.4


	                </div>
	                <div class="col-lg-6 color2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.5</div>
	            </div>
	        </div>
	        <div class="col-lg-4">
	            <div class="row">
	                <div class="col-lg-6 color3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.6</div>
	                <div class="col-lg-6 color4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.7</div>
	            </div>
	        </div>
	        <div class="col-lg-4">
	            <div class="row">
	                <div class="col-lg-6 color5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.8</div>
	                <div class="col-lg-6 color6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.9</div>
	            </div>
	        </div>
        </div>
    </section>

    <section>
        <div class="row">
                <div class="col-lg-6 color6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.10</div>
                <div class="col-lg-6 color7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.11</div>
            

        </div>  

    </section>    

    <section>
        <div class="row">
            <div class="col-lg-3 color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.12</div>
            <div class="col-lg-3 color2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.13</div>
            <div class="col-lg-3 color3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.14</div>
            <div class="col-lg-3 color4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.15</div>
        </div>
    </section>
    -->


<!-- Split button -->
<!--<div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  -->
  <br><br><br><br>
<br><br><br><br>

</div>


</div>



