<h1>Editar Factura</h1>

<%= render 'form' %>

<%= button_to 'Ver', @bill, :method => 'get', :class => 'btn btn-info' %> |
<%= button_to 'Volver', bills_path, :method => 'get', :class => 'btn btn-default' %>
