<h1>Gestiones</h1>

<div class="container">
        <div class="row">
            <div class="col-lg-12 ">
				<ul class="nav nav-pills nav-stacked largo">
				  <li> <%=link_to "Gestión de Connvenios", :controller => :gestiones, :action => :gestion_convenios %> </li>
				  <li> <%=link_to "Gestión de Información", :controller => :gestiones, :action => :gestion_informacion %> </li>
				  <li> <%=link_to "Gestión de Móviles", :controller => :gestiones, :action => :gestion_moviles %> </li>
				  <li> <%=link_to "Gestión de Tarifas", :controller => :gestiones, :action => :gestion_tarifas %> </li>

								
			</ul>
    

        </div>

    </div>      

</div>