<h1>Editar log auditoría</h1>

<%= render 'form' %>

<%= button_to 'Ver', @log_sql, :method => 'get', :class => 'btn btn-info' %> |
<%= button_to 'Volver', log_sqls_path, :method => 'get', :class => 'btn btn-default' %>
