<div class="container marg2">
		<br><br><br>

        <div class="row">

            <div class="col-lg-12 ">

<h1>Editar Empresa Externa</h1>

<%= render 'form2' %>

<%= button_to 'Ver', @external_enterprise , :method => 'get', :class => 'btn btn-info'%> |
<%= button_to 'Volver', external_enterprises_path, :method => 'get', :class => 'btn btn-default' %>
</div></div></div>