<% if user_signed_in? and current_user.tipo == 'administrador' %>

	<h1>Editar Cliente Natural</h1>

	<%= render 'form' %>

	<%= button_to 'Ver', @natural_client , :method => 'get', :class => 'btn btn-info'%> |
	<%= button_to 'Volver', natural_clients_path , :method => 'get', :class => 'btn btn-default'%>

<% end %>