<h1>Editar Bloque Horario</h1>

<%= render 'form' %>

<%= button_to 'Ver', @scheduling_block , :method => 'get', :class => 'btn btn-info'%> |
<%= button_to 'Volver', scheduling_blocks_path , :method => 'get', :class => 'btn btn-default'%>
