<h1>Editar Expiración Revisión Técnica</h1>

<%= render 'form' %>

<%= button_to 'Ver', @technical_review_expiration , :method => 'get', :class => 'btn btn-info' %> |
<%= button_to 'Volver', technical_review_expirations_path , :method => 'get', :class => 'btn btn-default'%>
