<% if user_signed_in? and current_user.tipo == 'administrador' %>

	<h1>Nuevo Comisión de dueños de vehículos</h1>

	<%= render 'form' %>

	<%= button_to 'Volver', owner_commissions_path , :method => 'get', :class => 'btn btn-default' %>

<% end %>